.button-container{
    width: 20%;
    height: 50px;
    display: flex;
    background-color: #00584f;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    color: #e6ff68;
    border-radius: 25px;
    border: 2px solid rgb(248, 255, 153);
    cursor: pointer;
    user-select: none;
}

.button-container:hover{
background-color: #1800b1;
}

.operator{
background-color: #36393e;
color: #e6ff68;
}