*{
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #00584f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.am-logo{
    height: 150px;
}

.calculadora-container{
    margin-top: 50%;
    background-color: #003e38;
    min-height: 450px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visor-container{
    margin-top: 2%;
    background-color: #00584f;
    width: 90%;
    height: 70px;
    border-radius: 5%;
}

.operations-container{
    width: 80%;
    background-color: #f4ff9f;
    border-radius: 5%;
    display: flex; /* Esto asegura que los botones se alineen horizontalmente */
    justify-content: space-between; /* Distribuye los botones uniformemente en el espacio disponible */
    margin-top: 5%;
    padding: 3%;
}